.banner{
  background-color: black;
  color: white;
  height:100%;
  font-family: georgia;
  text-align: center;
 margin-bottom: 30px;
}  
#photo1{
padding-left: 250px;
border-color: black;
}
.headline{
  text-align: center;
  font-family: Georgia ;
  background-color: white;

}
.byline{
  font-family: helvetica, georgia;
  font-style: italic;
  text-align: center;

}
p{
  font-family: georgia;
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: 150em;
}
.edu{
  font-family: georgia;
  padding-top: 15px;
  font-size: 30px;
  font-weight: bold;

}
.container{
  padding-top: 20px;
}
.organization{
  font-family: helvetica;
  font-weight: bold;
  font-style: italic;
  padding-top: 15px;
}
.menu{
  font-family: georgia, helvetica;
  font-style: italic;
  font-size: 20px;
}
.skills{
  font-family: georgia;
  padding-bottom: 15px;
  font-size: 20px; 
  font-weight: bold;
}
.experience{
  padding-bottom: 20px;
  font-family: georgia;
  padding-top: 15px;
  text-align: left;
}
#do{
  font-style: italic;
  font-family: georgia;
  font-size: 20px;
}
#footer{
  text-align: center;
  font-family: sans-serif;
}
